*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: cornsilk;
}
.container{
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    border: 1px solid #fff;
    box-shadow: 0 0 10px;
}
h1{
    margin-bottom: 20px;
    text-align: center;
}
.section{
    margin-bottom: 20px;
}
input [type="text"], select{
    border: 1px solid;
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    border: 10px;
    padding: 10px;
}
th{
    background-color:#f0f0f0;
}